*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.nav-bar {
  background-color: bisque;
  color: black;
  .sub-nav {
    font-size: 20px;
    background-color: aquamarine;
  }
}

.nav-link ul {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  font-family: "Courier New", Courier, monospace;
  margin: 0px auto;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  height: 38px;
}


.nav-link .links p::before {
  content: "";
  width: 30%;
  border-top: 1px solid black;
  position: absolute;
  bottom: 55px;
  right:1px;
  
  /* display:none; */
  padding:.3px 5px;
  background:black;
  border-radius: 100%;
}
.nav-link .links p:hover.nav-link .links p::before{
  display:block;
}

.nav-link ul li{
  position: relative;
  cursor: pointer;

}
.nav-link ul li::before{
  content:"";
  width:100%;
  border:1.3px solid black;
  position:absolute;
  bottom: 0px;
  transform: translateX(0%);
  display:none;
  transition: all .5s;
}


.nav-link ul li:hover::before, 
.nav-link #active::before { 
display: block;
}

footer{
  color:rgb(168 168 168);
  bottom: 0;
}

body{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: transparent;
  display: none;

}

::-webkit-scrollbar-thumb {
  background: var(--darkest);
  border-radius: var(--rounded-20);
  box-shadow: inset 0 0 2px grey;
}
::-webkit-scrollbar-track {
  background-color: var(--dark);
  border-radius: var(--rounded-20);
}

.dashboard-link-container{
  
  -webkit-mask: linear-gradient(
    0deg,
    transparent,
    black  1%,
    black  95%,
    transparent
  );
  mask: linear-gradient(0deg, transparent, black  1%, black 95%, transparent);
}
.gradient-left-white-right-black {
  background: linear-gradient(to right, white , black 40%) ;
  color: white; 
}

.gradient-right-white-left-black{
  background: linear-gradient(to left, white , black 40%);
  color: white; 
}